[submodule "prezto"]
  path = .zprezto
  url = https://github.com/sorin-ionescu/prezto.git
[submodule "zplug"]
  path = .zplug
  url = https://github.com/zplug/zplug.git
[submodule "spacevim"]
  path = .SpaceVim
  url = https://github.com/SpaceVim/SpaceVim.git
