# .vim directory
vim_backup/.vim/dein
vim_backup/.vim/templates
vim_backup/.vim/snippets
.netrwhist

# .config
.config/*
!.config/peco

# .atom directory
.atom/*
!.atom/config.cson
!.atom/packages.txt

# Xmonad
.xmonad
!.xmonad/*.hs
