[core]
excludesfile = ~/.gitignore_global
filemode = false
[user]
email = mail@kosk.me
name = KOSK
[credential]
helper = osxkeychain
[color]
ui = auto
[alias]
co = checkout
br = branch
ci = commit
st = status
[help]
autocorrect = 1
