"*":
  "atom-beautify":
    _analyticsUserId: "9bda7156-eb68-4735-b4b3-21e503306407"
    general:
      _analyticsUserId: "b15c8dc6-427c-45ae-a279-3320b6466885"
  "atom-terminal":
    app: "iTerm.app"
  "atom-terminal-panel": {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "._*"
      ".pdf"
      ".zip"
      ".key"
    ]
    projectHome: "~/Repos"
  editor:
    fontFamily: "Source Code Pro, Source Han Sans JP"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.4
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "62f8490a-8e62-357f-a5d2-217c4238a88e"
  "file-icons":
    coloured: false
  "git-plus": {}
  "highlight-column":
    enableHighlight: true
    opacity: 0.15
  linter:
    subtleLinterErrors: [
      "htmlhint"
    ]
  "markdown-preview-plus":
    pandocBIBFile: "reference.bib"
    useGitHubStyle: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-dark-ui": {}
  "recent-files":
    updated: false
  rspec: {}
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
